{% extends 'base.html' %}

{% block content %}

<p align="center">
<i>
    Validator Run #{{ run.pk }}
    <br>{{ run.timestamp|date:"r" }}
    <br>Completed: {{ run.complete }}
</i>
</p>

<div style="float:right;">
    <p>
        <a href="{% url 'validator_summary' %}">Back to Validator Summary</a>
    </p>
    <table id='case_counts'>
        <tr>
            <th>Condition
            <th># Cases
        {% for item in counts %}
        <tr>
            <td>{{ item.ref_case__condition }}
            <td>{{ item.pk__count }}
        {% endfor %}
    </table>
</div>

<p>
    <form id='condition_form' method='POST' action="{% url 'validate_exact' %}">
        {{ condition_form }}
        <input type='submit' value='Filter by Condition'>
    </form>
</p>

<table id='similar_cases'>
    <tr>
        <th>Condition
        <th>Patient MRN
        <th>Patient Name
        <th>Case Date
        <th>Reference Case ID #
        <th>ESP Case ID #
    {% for result in exact %}
    <tr>
        <td>{{ result.condition }}
        <td>{{ result.patient.mrn }}
        <td>{{ result.patient.name }}
        <td>{{ result.ref_case.date }}
        <td>{{ result.ref_case.pk }}
        <td><a href="{% url 'nodis_case_detail' result.cases.all.0.pk %}">{{ result.cases.all.0.pk }}</a>
    {% endfor %} {# result in missing_results #}
</table>



{% endblock %} {# content #}
