
{% extends "espbase.html" %}

{% block content %}


{% if object_list %}
<div style="text-align: center;">
<div class="section">
  <h2> Report for  {{ casenum }} Sent Cases</h2>
</div>
<br>
<form action="{{SITEROOT}}/cases/sent/{{orderby}}/download/" method="post">
<input type="submit" name="submit" value="Download to Excel" >
</form>

</div>
<br>

<table border=1 cellspacing = "2" cellpadding = "3">
<tr>
  <th><a href="{{SITEROOT}}/cases/sent/sortid/">
      {% ifequal orderby "sortid" %} <span style="color: #800000; "><b>Case ID</b></span>
      {%else%} Case ID
      {%endifequal%}
      </a></th>
  <th><a href="{{SITEROOT}}/cases/sent/sortrule/">
      {% ifequal orderby "sortrule" %} <span style="color: #800000; "><b>Condition</b></span>
      {%else%}Condition
      {%endifequal%}
      </a></th>
  <th><a href="{{SITEROOT}}/cases/sent/sortname/">
      {% ifequal orderby "sortname" %} <span style="color: #800000; "><b>Patient Name</b></span>
      {%else%}Patient Name
      {%endifequal%}
      </a></th>
  <th><a href="{{SITEROOT}}/cases/sent/sortmrn/">
      {% ifequal orderby "sortmrn" %} <span style="color: #800000; "><b>MRN</b></span>
      {%else%}MRN
      {%endifequal%}
       </a></th>
    <th><a href="{{SITEROOT}}/cases/sent/sortgender/">
      {% ifequal orderby "sortgender" %} <span style="color: #800000; "><b>Gender</b></span>
      {%else%}Gender
      {%endifequal%}
       </a></th>
  <th><a href="{{SITEROOT}}/cases/sent/sortpreg/">
      {% ifequal orderby "sortpreg" %} <span style="color: #800000; "><b>Pregnancy status</b></span>
      {%else%}Pregnancy status
      {%endifequal%}
       </a></th>
  <th><a href="{{SITEROOT}}/cases/sent/sortdob/">
      {% ifequal orderby "sortdob" %} <span style="color: #800000; "><b>D.O.B</b></span>
      {%else%}D.O.B
      {%endifequal%}
       </a></th>
  <th><a href="{{SITEROOT}}/cases/sent/sortsite/">
      {% ifequal orderby "sortsite" %} <span style="color: #800000; "><b>SiteName</b></span>
      {%else%}SiteName
       {%endifequal%}
      </a></th>
  <th>
      TestName
  </th>
  <th><a href="{{SITEROOT}}/cases/sent/sortorderdate/">
      {% ifequal orderby "sortorderdate" %} <span style="color: #800000; "><b>Test Order Date</b></span>
      {%else%}Test Order Date
      {%endifequal%}
       </a></th>
  <th><a href="{{SITEROOT}}/cases/sent/sortresdate/">
      {% ifequal orderby "sortresdate" %} <span style="color: #800000; "><b>Test Result Date</b></span>
      {%else%}Test Result Date
      {%endifequal%}
       </a></th>
  <th><a href="{{SITEROOT}}/cases/sent/sortsendate/">
      {% ifequal orderby "sortsendate" %} <span style="color: #800000; "><b>Date sent to DPH</b></span>
      {%else%}Date sent to DPH
      {%endifequal%}
       </a></th>
  <th>
      Medication Prescribed 
  </th>
  <th>
      Symptoms
  </th>

</tr>

    {% for case in object_list %}


   <tr class="{% cycle row1,row2 %}">
      <td>{{case.0}}</td>
      <td>{{case.1}}</td> 
      <td>{{case.2}}</td>
      <td>{{case.3}}</td>
      <td>{{case.4}}</td>
      <td>{{case.5}}</td>
      <td>{{case.6}}</td>
      <td>{{case.7}}</td>
      <td>{{case.8}}</td>
      <td>{{case.9}}</td>
      <td>{{case.10}}</td>
      <td>{{case.11}}</td>
      <td>{{case.12}}</td>
      <td>{{case.13}}</td>
     </tr>

    {% endfor %}
    </table>
{% else %}
     <p>
     <h1>No cases to show</h1>
      </p>
</div>
{% endif %}
{% endblock%}
