{% extends "espbase.html" %}

{% block content %}

<h2><a href="javascript:history.go(-1)">Go Back</a></h2>

<div style="text-align: center;">
<h2><span style="color: #800000; ">Condition-NDC Map</span></h2>
</div>
<br>
{% if msg %}
     <br><br>
     <div style="text-align: center;">
     <h3><span style="color: blue; "> {{msg}}</span></h3>
      </div>
{% endif %}




{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{{SITEROOT}}/preload/conditionndc/update/" method="post">
<div style="text-align: center;">
<input type="submit" name="submit" value="Save into a file" >
</div>
<br>
<table cellspacing="10" cellpadding="3" border="1" width="95%">
<tr class="{% cycle row1,row2 as rowcolors %}">
  <th>Id</th>
  <th>Rule</th>
  <th>Ndc</th>
  <th>Used in definition?</th>
  <th>Used in HL7? </th>
</tr>
 {% for mapobj in maps %} 
     <tr class="{% cycle rowcolors %}">
      <td width="15%"> {{ mapobj.id }}<input type="hidden" name="ID_{{ mapobj.id }}" value={{ mapobj.id }}></td>
      <td width="25%"> 
	     <SELECT name="RULE_{{ mapobj.id }}">
        {% for thisr in rules %}
           {% ifequal mapobj.CondiRule.ruleName thisr.ruleName %} <OPTION value="{{thisr.ruleName}}" SELECTED> {{thisr.ruleName}}</OPTION> {% endifequal %}
           {% ifnotequal mapobj.CondiRule.ruleName thisr.ruleName %} <OPTION value="{{thisr.ruleName}}"> {{thisr.ruleName}}</OPTION> {% endifnotequal %}
         {% endfor %}
         </SELECT>
      </td>
      <td width="25%"> <input type="text" name="NDC_{{ mapobj.id }}" size="15" value={{ mapobj.CondiNdc}}> </td>
      <td width="25%"> <input type="text" name="DEFINE_{{ mapobj.id }}" size="15" value={{mapobj.CondiDefine}} ></td>
      <td width="25%"> <input type="text" name="SEND_{{ mapobj.id }}" size="15" value={{mapobj.CondiSend}} ></td>
      </tr>

    {% endfor %}
 {% for i in newrec %}
     <tr class="{% cycle rowcolors %}">
      <td width="15%"> Add New <input type="hidden" name="ID_NEW{{ i }}" value="NEW{{i}}"></td>
      <td width="25%">
       <SELECT name="RULE_NEW{{ i }}">
        {% for thisr in rules %}
           <OPTION value="{{thisr.ruleName}}"> {{thisr.ruleName}}</OPTION> 
         {% endfor %}
       </SELECT>
      </td>
      <td width="25%"> <input type="text" name="NDC_NEW{{i}}" size="15" > </td>
      <td width="25%"> <input type="text" name="DEFINE_NEW{{ i}}" size="15" value='0'></td>
      <td width="25%"> <input type="text" name="SEND_NEW{{ i}}" size="15" value='1'></td>
      </tr>

    {% endfor %}
  
</table>
<br>
<div style="text-align: center;">
<input type="submit" name="submit" value="Save into a file" >
</div>
</form>


{% endblock %}
