{% extends "espbase.html" %}

{% load esplib %}

{% block content %}

<table border="0" width="100%">
<tr>
<td></td>
<td align=right>
<form   method="post">
<table cellspacing="10" cellpadding="3" border="1" width="60%">
<tr><td colspan = "8" align = "center" bgcolor="lightyellow"><span style="font-size: larger; color: #800000; "><b>Search Cases</b></span></td></tr>
 <tr class="{% cycle row1,row2 as rowcolors %}">
 <th>Patient Last Name</th>
 <th>Patient MRN <br>(i.e. 'HVMA-1234567')</th>
 <th>Condition</th> 
<th></th>
 </tr>

 <tr class="{% cycle rowcolors %}">
 <td><input type="text" name="PatientName" size="25" value={{ pname }} >
 </td>
 
 <td><input type="text" name="MRN" size="20" value={{ mrn }} ></td>
 <td>

 <SELECT name="RULE">
   {% ifequal rulefilter "0" %}<OPTION value="0" SELECTED>All</OPTION> {% endifequal %}
   {% ifnotequal rulefilter "0" %}<OPTION value="0" >All</OPTION> {% endifnotequal %}

   {% for thisr in rules %}
      {%isselectedrule%}{{rulefilter}},{{thisr.id}}{%endisselectedrule%}
       {% if selectedrule %}<OPTION value="{{thisr.id}}" SELECTED>{{thisr.ruleName}}</OPTION> 
       {% else %} <OPTION value="{{thisr.id}}">{{thisr.ruleName}}</OPTION>{% endif %}

    {% endfor %}
  
  </SELECT >

 </td>
 <td valign="middle"><input type="submit" name="submit" value="Search Cases" ></td>
 </tr>

</form>
</table>
</td>
</tr>
</table>
{% ifequal inprod "0" %}
<br>
<p>
<div style="text-align: center;">
    <form action="{{SITEROOT}}/cases/search/{{inprod}}/{{wf}}/{{pname}}/{{mrn}}/{{rulefilter}}/{{orderby}}/download/" method="post">
       <input type="submit" name="submit" value="Download to Excel" >
    </form>
</div>
{% endifequal %}

{% if is_paginated %}
  <p>Page {{page}} of {{pages}}.</p>
  <p>
    {% if has_previous %}
      <a href="{{SITEROOT}}/cases/search/{{inprod}}/{{wf}}/{{pname}}/{{mrn}}/{{rulefilter}}/{{orderby}}/?page={{first_page}}">&lt;&lt;first</a> | 
      <a href="{{SITEROOT}}/cases/search/{{inprod}}/{{wf}}/{{pname}}/{{mrn}}/{{rulefilter}}/{{orderby}}/?page={{previous}}">&lt;previous page</a> | 
    {% endif %}
    {% if has_next %}
      <a href="{{SITEROOT}}/cases/search/{{inprod}}/{{wf}}/{{pname}}/{{mrn}}/{{rulefilter}}/{{orderby}}/?page={{next}}">next page &gt;</a> | 
      <a href="{{SITEROOT}}/cases/search/{{inprod}}/{{wf}}/{{pname}}/{{mrn}}/{{rulefilter}}/{{orderby}}/?page={{last_page}}">last &gt;&gt;</a>
    {% endif %}
  </p>
{% endif %}



{% if object_list %}
<div class="section">
  <h2> {{ casenum }} Cases Found</h2>
  <br> (click on a case Identifier to see the case details)
</div>
<br>
<table border=1 cellspacing = "2" cellpadding = "3">
<tr>
  <th><a href="{{SITEROOT}}/cases/search/{{inprod}}/{{wf}}/{{pname}}/{{mrn}}/{{rulefilter}}/sortid/">
      {% ifequal orderby "sortid" %} <span style="color: #800000; "><b>Case ID</b></span>
      {%else%} Case ID
      {%endifequal%}
      </a></th>
  <th><a href="{{SITEROOT}}/cases/search/{{inprod}}/{{wf}}/{{pname}}/{{mrn}}/{{rulefilter}}/sortrule/">
      {% ifequal orderby "sortrule" %} <span style="color: #800000; "><b>Suspected Condition</b></span>
      {%else%}Suspected Condition
      {%endifequal%}
      </a></th>

  <th><a href="{{SITEROOT}}/cases/search/{{inprod}}/{{wf}}/{{pname}}/{{mrn}}/{{rulefilter}}/sortdate/">
      {% ifequal orderby "sortdate" %} <span style="color: #800000; "><b>Date Ordered</b></span>
      {%else%}Date Ordered
      {%endifequal%}
      </a></th>
  <th><a href="{{SITEROOT}}/cases/search/{{inprod}}/{{wf}}/{{pname}}/{{mrn}}/{{rulefilter}}/sortloc/">
      {% ifequal orderby "sortloc" %} <span style="color: #800000; "><b>Enc Location</b></span>
     {%else%}Enc Location
      {%endifequal%}
      </th>

  <th><a href="{{SITEROOT}}/cases/search/{{inprod}}/{{wf}}/{{pname}}/{{mrn}}/{{rulefilter}}/sortwf/">
      {% ifequal orderby "sortwf" %} <span style="color: #800000; "><b>Workflow State</b></span>
      {%else%}Workflow State
      {%endifequal%}
      </a></th>
  <th><a href="{{SITEROOT}}/cases/search/{{inprod}}/{{wf}}/{{pname}}/{{mrn}}/{{rulefilter}}/sortname/">
      {% ifequal orderby "sortname" %} <span style="color: #800000; "><b>Name</b></span>
      {%else%}Name
      {%endifequal%}
      </a></th>
  <th><a href="{{SITEROOT}}/cases/search/{{inprod}}/{{wf}}/{{pname}}/{{mrn}}/{{rulefilter}}/sortmrn/">
      {% ifequal orderby "sortmrn" %} <span style="color: #800000; "><b>MRN</b></span>
      {%else%}MRN
      {%endifequal%}
       </a></th>
  <th><a href="{{SITEROOT}}/cases/search/{{inprod}}/{{wf}}/{{pname}}/{{mrn}}/{{rulefilter}}/sortaddr/">
       {% ifequal orderby "sortaddr" %} <span style="color: #800000; "><b>Patient Address</b></span>
      {%else%}Patient Address
      {%endifequal%}
      <a></th>

    <th><a href="{{SITEROOT}}/cases/search/{{inprod}}/{{wf}}/{{pname}}/{{mrn}}/{{rulefilter}}/datecol/">
      {% ifequal orderby "datecol" %} <span style="color: #800000; "><b>{{datecol}}</b></span>
      {%else%}{{datecol}}
      {%endifequal%}
      </a></th>

  <th>Previously notified case(s)
       </th>
</tr>

    {% for case in object_list %}


   <tr class="{% cycle row1,row2 %}">
      <td>{{case.id}}: <a href="{{SITEROOT}}/cases/{{inprod}}/{{ case.id }}/F/">Full View</a>&nbsp;&nbsp;&nbsp;
                       <a href="{{SITEROOT}}/cases/{{inprod}}/{{ case.id }}/R/">Restricted View</a>
      </td>
      <td> {{ case.getCondition.ruleName }}</td>
      <td> {{ case.getLxOrderdate}}</td>
      <td> {{ case.getLxProviderSite}}</td>
      <td> {{ case.get_caseWorkflow_display }}</td>
      <td> {{ case.getPatient.DemogLast_Name}}, {{ case.getPatient.DemogFirst_Name}}&nbsp;&nbsp;{{ case.getPatient.DemogMiddle_Initial}}</td>
      <td> {{case.getPatient.DemogMedical_Record_Number}}</td>
      <td>  {{case.getAddress }}</td>
      <td> {{ case.getcaseLastUpDate}}</td>
      <td> {% for othercid in case.getPrevcases %}
                <a href="{{SITEROOT}}/cases/{{inprod}}/{{ othercid }}/F/">Case {{ othercid }}</a>,&nbsp;
           {% endfor %}

          </td> 
     </tr>

    {% endfor %}
    </table>
{% else %}
     <p>
     {% if wf %}<h1>No cases are currently in the requested workstate: {{wf_display}} </h1> 
     {% else %} <h1>No cases to show</h1>
     {% endif %}
    

{% endif %}

{% if is_paginated %}


<div class="section">
  <p>page {{page}} of {{pages}}.</p>
  <p>
    {% if has_previous %}
      <a href="{{SITEROOT}}/cases/search/{{inprod}}/{{wf}}/{{pname}}/{{mrn}}/{{rulefilter}}/{{orderby}}/?page={{first_page}}">&lt;&lt;first</a> | 
      <a href="{{SITEROOT}}/cases/search/{{inprod}}/{{wf}}/{{pname}}/{{mrn}}/{{rulefilter}}/{{orderby}}/?page={{previous}}">&lt;previous page</a> | 
    {% endif %}
    {% if has_next %}
      <a href="{{SITEROOT}}/cases/search/{{inprod}}/{{wf}}/{{pname}}/{{mrn}}/{{rulefilter}}/{{orderby}}/?page={{next}}">next page &gt;</a> | 
      <a href="{{SITEROOT}}/cases/search/{{inprod}}/{{wf}}/{{pname}}/{{mrn}}/{{rulefilter}}/{{orderby}}/?page={{last_page}}">last &gt;&gt;</a>
    {% endif %}
  </p>
</div>
{% endif %}
{% endblock%}
