{% extends "espbase.html" %}




{% block content %}

<h2><a href="javascript:history.go(-1)">Go Back</a></h2>

<div style="text-align: center;">
<h2><span style="color: #800000; ">Identification Page for {{ rule.ruleName }}</span></h2>
</div>
<br>



<p>
<block>
<br>
<span style="font-size: larger; ">
{{rule.gethtml_rulenote.0 }}
</span><br>


<table cellspacing="10" cellpadding="3" border="1" width="95%">

<tr class="{% cycle row1,row2 as rowcolors %}">
   {% for oneheader in rule.gethtml_rulenote.1 %}
        <th> {{oneheader}}</th>
   {% endfor %}
</tr>

{% for onedef in rule.gethtml_rulenote.2 %}
   <tr class="{% cycle row1,row2 as rowcolors %}">
      {% for oneitem in onedef %}
         <td width="10%"> {{oneitem}}</td>
      {% endfor %}
   </tr>
{% endfor %}

</table>
</block>
{% endblock %}

