{% extends 'esp/espbase.html' %}
{% load i18n %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ static_css_folder }}jqModal.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ static_javascript_folder }}flexigrid/css/flexigrid/flexigrid.css" />
    <style type="text/css">
    	.flexigrid div.fbutton .add
		{
			background: url(/js/flexigrid/css/images/add.png) no-repeat center left;
		}	
	.flexigrid div.fbutton .delete
		{
			background: url(/js/flexigrid/css/images/close.png) no-repeat center left;
		}	
	.flexigrid div.fbutton .edit
		{
			background: url(/js/flexigrid/css/images/edit.gif) no-repeat center left;
		}	
    </style>
{% endblock %}

{% block extrascript %}
    <script type="text/javascript" src="{{ static_javascript_folder }}jqModal.js"></script>
    <script type="text/javascript">

        function add_map(com, grid) {
            location.href = "{% url 'new_ext_loinc_map' %}";
        };

        function delete_map(com, grid) {
            var loinc_num = $('.trSelected', grid)[0].cells[3].textContent;
            var ext = $('.trSelected', grid)[0].cells[1].textContent;
            $('#delete_loinc').text(loinc_num);
            $('#delete_ext').text(ext);
            $('#modal_delete').jqmShow();
        };

        {% comment %}
        Maybe we don't need to do this in a modal -- what's the point, anyway?
        {% endcomment %}
        function edit_map(com, grid) {
            var id = $('.trSelected', grid)[0].cells[0].textContent;
            var url = "{% url 'edit_ext_loinc_map' %}' + id;
            location.href = url;
        };

        $(document).ready(function() {
            $('#modal_edit').jqm();
            $('#modal_delete').jqm();
            $('#yes_delete').click( function() {
                var id = $('.trSelected')[0].cells[0].textContent;
                var url = "{% url 'delete_ext_loinc_map' %}" + id;
                location.href = url;
            });
            $('#map_table').flexigrid({
                striped: true,
                height: 'auto',
                url: "{% url 'json_ext_loinc_grid' %}",
                dataType: 'json',
                colModel: [
                    {display: 'Map ID', name: 'id', width: 50, sortable: true, align: 'left'},
                    {display: 'External Code', name: 'ext_code', width: 100, sortable: true, align: 'left'},
                    {display: 'External Name', name: 'ext_name', width: 300, sortable: true, align: 'left'},
                    {display: 'LOINC Code', name: 'loinc__loinc_num', width: 100, sortable: true, align: 'left'},
                    {display: 'LOINC Name', name: 'loinc__name', width: 400, sortable: false, align: 'left'},
                    ],
                searchitems: [
                    {display: 'External Code', name: 'ext_code'},
                    {display: 'External Name', name: 'ext_name'},
                    {display: 'LOINC Code', name: 'loinc__loinc_num'},
                    ],
                buttons: [
                    {name: 'Add', bclass: 'add', onpress : add_map},
                    {separator: true},
                    {name: 'Edit', bclass: 'edit', onpress : edit_map},
                    {separator: true},
                    {name: 'Delete', bclass: 'delete', onpress : delete_map},
                    ],
                singleSelect: true,
                sortname: 'id',
                sortorder: 'asc',
                usepager: 'true',
                width: '100%',
                rpOptions: [10, 25, 50, 100],
                rp: {{ default_rp }},
                showToggleBtn: false,
                showTableToggleBtn: true,
            });
        });
    </script>
{% endblock %}


{% block content %}

<h1>
    External Code to LOINC Map
</h1>

<table id="map_table">
</table>

<div id="modal_delete" class="jqmWindow">
    <h1>
        {% trans 'Delete Confirmation' %}
    </h1>
    <p>Are you sure you want to delete this map?<p>
    <blockquote>
        <span id="delete_ext"></span> --> <span id="delete_loinc"></span>
    </blockquote>
    <input type='button' class="jqmClose" value='Cancel'>
    <input type='button' id="yes_delete" value='Yes, delete it!'>
</div>


{% endblock %} {# content #}
