{% extends "espbase.html" %}


{% block content %}

<h2><a href="javascript:history.go(-1)">Go Back</a></h2>
<div style="text-align: center;">
<h2><span style="color: #800000; ">Utilities For Administrator</span></h2>
</div>
<br>

<table cellpadding="0" border=0 bordercolor = white width="100%">
  <tr class="{% cycle row2,row1 as rowcolors %}"><td>
      <a href="{{ SITEROOT }}/admin">Database Administration</a>
  </td></tr>
  <tr class="{% cycle rowcolors %}"><td>
      <a href="{% url 'show_ext_loinc_maps' %}">External Code to LOINC Mapping</a>
  </td></tr>
   <tr class="{% cycle rowcolors %}"> <td>
       <a href="{{SITEROOT}}/cases/match/">Match patients between DPH and ESP</a>
   </td> </tr>
  <tr class="{% cycle rowcolors %}"> <td>
       <a href="{{SITEROOT}}/cases/define/">Search Component Name</a>
   </td> </tr>
  <tr class="{% cycle rowcolors %}"> <td>
       <a href="{{SITEROOT}}/preload/config/">preLoad Config</a>
   </td> </tr>
  <tr class="{% cycle rowcolors %}"> <td>
       <a href="{{SITEROOT}}/preload/rule/">preLoad Rule</a>
   </td> </tr>
   <tr class="{% cycle rowcolors %}"> <td>
       <a href="{{SITEROOT}}/preload/rulexclud/">preLoad Rule Exclusion List</a>
   </td> </tr>
   <tr class="{% cycle rowcolors %}"> <td>
       <a href="{{SITEROOT}}/preload/conditionloinc/">preLoad Condition-Loinc Map</a>
   </td> </tr>
   <tr class="{% cycle rowcolors %}"> <td>
       <a href="{{SITEROOT}}/preload/conditiondx_code/">preLoad Condition-Dx code Map</a>
   </td> </tr>
  <tr class="{% cycle rowcolors %}"> <td>
      <a href="{{SITEROOT}}/preload/conditiondrugname/">preLoad Condition-DrugName Map</a>
  </td> </tr>
  <tr class="{% cycle rowcolors %}"> <td>
      <a href="{{SITEROOT}}/preload/conditionndc/">preLoad Condition-Ndc Map <span
              style="color: red; ">(NOT in USE) </span></a>
  </td> </tr>


</table>
{% endblock %}
